{% extends 'base.html' %}

{% block navbar %}

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="{% url 'news-list' %}">Все объявления</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'add-news' %}">Добавить объявление</a></li>
    </ul>
</div>

{% endblock %}


{% block content %}

<div class="col-md-12">
    <div class="card mb-3">

        <form action="{% url 'add-news' %}" method='post'>
            {% csrf_token %}

            <div class="card-body">
                {{form.as_p}}

            </div>
            {{ form.non_field_errors }}

            <div class="card-footer text-muted">
                <button type="submit" class="btn btn-primary btn-block">Изменить новость</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}