{% extends 'base.html' %}


{% block navbar %}

<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item"><a class="nav-link" href="{% url 'news-list' %}">Все объявления</a></li>
</ul>

{% endblock %}


{% block content %}

<div class="col-md-12">
    <div class="card mb-3">
        <form method='post'>
            {% csrf_token %}

            <div class="card-body">
                {{form.as_p}}
            </div>
            {{ form.non_field_errors }}

            <div class="card-footer text-muted">
                <button type="submit" class="btn btn-primary btn-block"> Регистрация</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}