{% load i18n %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title> {% trans "Hour translation page title." %} </title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid ">
        <a class="navbar-brand" href="/goods_list/">{% trans 'Home page' %}</a>
        <a href="{% url 'housing_list' %}" class="btn btn-primary">Список продаваемого жилья</a>
        <a href="{% url 'news_list' %}" class="btn btn-primary">Новости</a>
        <a href="{% url 'about' %}" class="btn btn-primary">О нас</a>
        <a href="{% url 'contacts' %}" class="btn btn-primary">Контакты</a>
        <a href="{% url 'django.contrib.sitemaps.views.sitemap' %}">Карта сайта</a>
        {% block navbar %} LINK {% endblock %}

        <span class="navbar-text">

        </span>

        <span class="navbar-text">
        </span>
    </div>
</nav>


<div class="container mt-3">
    <div class="row">

        {% block content %} CONTENT {% endblock %}

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous"></script>
</body>
</html>